@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
:root{
    --base: #ff0077;
    --spacing: 10px;
    --blur: 10px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}
h1{
    text-align: center;
    margin: 3rem;
}
.h1{
    color: var(--base);
}
main{
    width: 70%;
    margin: auto;
}
img{
    width: 100%;
    height: 60vh;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.controls{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: large;
}